.lodge-selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5rem 0;

    background-image: url(../assets/pidgeons-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.lodge-selector button {
    font-size: 1.2rem;
    margin-top: 2rem;
    display: block;
    line-height: 2rem;
    padding: 0.25rem 1.55rem;
    border: none;
    box-shadow: black 0px 5px 20px;
    background: #926F5B;
    color: white;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    cursor: pointer; 

}

.lodge-selector button:hover {
    background: #3D2B1F;
    color: #FFF;
}

@media screen and (max-width: 600px) {

    .lodge-selector {
        flex-direction: column;
    }

    .lodge-selector button {
        margin-bottom: 2rem; 
    }
}

