.lodge-services {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8rem;
    margin: 0 3rem;
}

.service > img {
    width: 8rem;
}

.service > p {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.service > small {
    margin-top: 0.5rem;
    text-align: center;
    color: rgb(70, 70, 70);
}

.service-title {
    align-self: flex-start;
    width: 90%;
    margin: 1rem auto;
    margin-top: 3rem;
}

.service-title > h2 {
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(218, 163, 45);
    display: inline;

}

@media screen and (max-width: 800px) {

    .service{
        margin-top: 1rem;
    }
    
}