.lodgeCard {
    width: 30rem;
    height: 22rem;
    padding-bottom: 3.8rem;
    /* margin-bottom: 20rem; */
    border-radius: 5%;
    /* overflow: hidden; */
    box-shadow: -1px 8px 39px -2px rgba(0,0,0,0.32);
    -webkit-box-shadow: -1px 8px 39px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: -1px 8px 39px -2px rgba(0,0,0,0.32);
    transition: all 200ms cubic-bezier(0.705, 0.195, 0.325, 1.045); /* custom */
    transition-timing-function: cubic-bezier(0.705, 0.195, 0.325, 1.045); /* custom */
}

.lodgeImg {
    width: 100%;
    height: 95%;
}

.lodgeName {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0.25rem 0rem;
}

.lodgeLocation {
    text-align: center;
    color: grey;
    margin: 0.55rem 0;
}

.lodgeCard:hover {
    transform: scale(1.05);
}

.lodgeHunts{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    position: relative;
    top: -2%;
    box-shadow: -1px 38px 39px -2px rgba(0,0,0,0.32);
    -webkit-box-shadow: -1px 38px 39px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: -1px 38px 39px -2px rgba(0,0,0,0.32);

    transition: all 250ms cubic-bezier(0.705, 0.195, 0.325, 1.045); /* custom */
    transition-timing-function: cubic-bezier(0.705, 0.195, 0.325, 1.045); /* custom */
}

.lodgeHunts img {
    width: 60px;
}

@media screen and (max-width: 1500px) {

    .lodgeCard {
        width: 25rem;
        height: 18rem;
    }
    
    
}

@media screen and (max-width: 1240px) {

    .lodgeCard {
        width: 20rem;
        height: 14rem;
    }
    
    
}

@media screen and (max-width: 960px) {

    .lodgeCard {
        width: 18rem;
        height: 12rem;
        padding-bottom: 5rem;
        margin-bottom: 3rem;
    }
    
    .lodgeLocation {
        margin: 0 rem 0;
    }

    .lodgeHunts {
        margin-bottom: 6rem;
    }
    
}