.lodge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 226, 218);
    height: 100%;
    width: 100%;
}

.data-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.logo-container > img {
    width: 350px;
    margin: 0 5rem;
}

.lodge-data {
    height: inherit;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 2rem;
    line-height: 1.5rem;
}

.lodge-data p {
    font-size: 1.3rem;
}

.lodge-title {
    margin-bottom: 3rem;
    font-size: 2.3rem;
}

iframe {
    margin-bottom: 8rem;
}

@media screen and (max-width: 1000px) {

    .logo-container > img {
        width: 250px;
        margin: 0 3rem;
    }

    .data-container {
        margin-top: 4rem;
    }
    
}

@media screen and (max-width: 800px) {

    .logo-container > img {
        width: 250px;
        margin: 0 2rem;
    }
    
}

@media screen and (max-width: 700px) {

    .data-container  {
        flex-direction: column;
    }

    .lodge-title  {
        margin-top: 1rem;
        text-align: center;
    }

    .lodge-data  {
        margin: 0;
    }
    
}

@media screen and (max-width: 600px) {

    .lodge-data  {
        width: 75%;
    }
    
}

@media screen and (max-width: 400px) {

    .lodge-data  {
        width: 80%;
    }

    .lodge-data > p {
        font-size: 1rem;
    }
    
}