.roost-card {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
}

.roost-card img{
    height: 250px;
}

.roost-card p {
    margin-left: 4rem;
    font-size: 1.5rem;
}
@media screen and (max-width: 1500px) { 
    .roost-card {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) { 
    .roost-card {
        width: 95%;

    }
    .roost-card p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 968px) { 
    .roost-card {
        width: 100%;
        height: 350px;
    }
    .roost-card p {
        font-size: 1.25rem;
        margin-left: 2rem;
    }

    .roost-card img{
        height: 200px;
    }
}

@media screen and (max-width: 800px) { 
    .roost-card {
        margin-top: 4rem;
        margin-bottom: 6rem;
        flex-direction: column;
    }
    .roost-card p {
        margin-left: 0rem;
        margin: 0 1rem;
    }
}

@media screen and (max-width: 460px) { 

    .roost-card {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 400px) { 

    .roost-card {
        margin-top: 10rem;
        margin-bottom: 12rem;
    }

    .roost-card img{
        height: 150px;
    }    


}